<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/login.css">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 my-auto px-0">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                    alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 mt-3 p-4">
                <h3 class="card-title text-center">Login</h3>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                        <div class="valid-feedback">
                            Looks good! 👍
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good! 👍
                        </div>
                    </div>
                    <div class="d-grid text-center text-lg-start mt-4 pt-2">
                        <button class="btn btn-primary btn-lg btn-block">
                            Login
                        </button>
                        <p class="small text-center fw-light mt-2 pt-1 mb-0">Don't have an account?
                            <a href="/register" class="link-danger"> Register </a>
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>